<div class="datepicker-container u-is-unselectable">
  <div class="datepicker-input-container">
    <input type="text" class="datepicker-input" [(ngModel)]="date.formatted" placeholder="DD.MM.RRRR">
    <div class="datepicker-input-icon" (click)="toggle()" [ngClass]="{'datepicker-input-icon-active' : opened}">
      <i class="calendar outline icon"></i>
    </div>
  </div>
  <div class="datepicker-calendar" *ngIf="opened">
    <div class="datepicker-calendar-container">
      <div *ngIf="!yearPicker">
        <div class="datepicker-calendar-month-section">
          <i (click)="prevMonth()" class="caret left icon"></i>
          <span class="month-title">{{ currentDate.format('MMMM') }}</span>
          <span class="year-title"(click)="openYearPicker()">{{ currentDate.format('YYYY') }}</span>
          <i (click)="nextMonth()" class="caret right icon"></i>
        </div>
        <div class="datepicker-calendar-day-names">
          <span>Pn</span>
          <span>Wt</span>
          <span>Śr</span>
          <span>Czw</span>
          <span>Pt</span>
          <span>Sb</span>
          <span>Nd</span>
        </div>
        <div class="datepicker-calendar-days-container">
          <span class="day" *ngFor="let d of days; let i = index"
                            (click)="selectDate($event, d.momentObj)"
                            [ngClass]="{ 'disabled': !d.enabled, 'today': d.today, 'selected': d.selected, 'sunday' : (i+1) % 7 == 0 }">
            {{ d.day }}
          </span>
        </div>
        <div class="datepicker-buttons" *ngIf="!options.autoApply">
          <button type="button" class="a-button u-is-secondary u-is-small" (click)="clear()">{{options.clearText}}</button>
          <button type="button" class="a-button u-is-primary u-is-small" (click)="today()">{{options.todayText}}</button>
        </div>
      </div>
      <div *ngIf="yearPicker">
        <div class="datepicker-calendar-years-container">
          <span class="year" *ngFor="let y of years; let i = index" (click)="selectYear($event, y)">
            {{ y }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
