$blue: #366AAB
$black: #000000
$white: #FFFFFF
$gray: #ced4da
$gray-dark: #343a40
$red: #fa5252
$blue: #0488bf
$light-blue: #A4C8E6
$blue-dark-2: #0b4268
$light-gray: #D6D6D6

=unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.datepicker-container
  display: inline-block
  position: relative
  background-color: $white
  .datepicker-input-container
    display: inline-block
    .datepicker-input
      display: inline-block
      width: 132px
      margin-right: 5px
      border: none
      outline: none
      border-bottom: 1px solid $blue
      color: $blue
      text-align: center
      &::-webkit-input-placeholder
        color: $light-blue
      &::-moz-placeholder
        color: $light-blue
      &:-ms-input-placeholder
        color: $light-blue
      &:-moz-placeholder
        color: $light-blue

    .datepicker-input-icon
      display: inline-block
      color: $blue
      i
        cursor: pointer
        padding-left: 3.5px
    .datepicker-input-icon-active
      color: $white
      background-color: $blue

  .datepicker-calendar
    +unselectable
    width: 160px
    top: 19px
    position: absolute
    z-index: 99
    background: $white
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px
    -webkit-box-shadow: 0px 0px 11px -1px $light-gray
    -moz-box-shadow: 0px 0px 11px -1px $light-gray
    box-shadow: 0px 0px 11px -1px $light-gray

    .datepicker-calendar-container
      display: inline-block
      width: 100%
      background: $white

      .datepicker-calendar-month-section
        width: 100%
        display: flex
        padding: 2px
        font-size: 12px
        justify-content: space-between
        background: $blue
        color: $white
        text-transform: capitalize
        .year-title
          cursor: pointer
        i
          cursor: pointer

      .datepicker-calendar-day-names
        width: 160px
        display: inline-block
        border: 1px solid transparent
        padding: 2px
        font-size: 12px
        background-color: $blue-dark-2
        color: #fff
        span
          display: block
          float: left
          width: calc(100% / 7)
          text-align: center

      .datepicker-calendar-days-container
        width: 160px
        background-color: $white
        display: inline-block
        .sunday
          color: $red !important
        .day
          display: flex
          justify-content: center
          align-items: center
          float: left
          color: $blue
          font-size: 12px
          width: calc(100% / 7)
          height: 16px
          text-align: center
          cursor: pointer
          border-radius: 2px
          &:hover:not(.disabled), &.selected
            background: $blue-dark-2
            color: $white
            border: 1px solid #366AAB
          &.disabled
            pointer-events: none
          &.today
            background-color: $light-blue
            color: $white

      .datepicker-calendar-years-container
        width: 100%
        height: 125px

        .year
          display: flex
          justify-content: center
          align-items: center
          float: left
          font-size: 12px
          color: $blue
          width: calc(100% / 4)
          height: 16px
          text-align: center
          border-radius: 2px
          cursor: pointer
          &:hover, &.selected
            background: $blue
            color: $white
            border: 1px solid #366AAB

      .datepicker-buttons
        width: 160px
        display: flex
        justify-content: center

        button
          width: 100%
          outline: none
          display: inline-block
          border: 1px solid $blue
          background: #099268
          color: $white
          margin-right: 5px
          cursor: pointer
          text-align: center
          padding: 3px
          border-radius: 2px

          &.u-is-primary
            background: #366AAB
            &:active
              background: $blue

          &.u-is-secondary
            background: $blue
            color: $white
            &:active
              background: #366AAB
              color: #DDDDDD
            &:hover
              color: #FFFFFF
  svg
    display: block
    width: 20px
    height: 20px
    g
      fill: $white
      g
        fill: $white
